<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ADOCS" value="LDAP://DC4/DC=RMMCNT,DC=COM"/>
    <add key="ADUser" value="administrator"/>
    <add key="ADPass" value="marblegrey"/>
    <add key="userDomainName" value="RMMCNT"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="commitments" connectionString="Data Source=localrmmc;Initial Catalog=commitments;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    <add name="loss_mitigation" connectionString="Data Source=acctsql2;Initial Catalog=loss_mitigation;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    <add name="foreclosure" connectionString="Data Source=acctsql2;Initial Catalog=foreclosure;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    <add name="access_gl" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=\\pdfserver\applications\Access\GLs.mdb" providerName="Microsoft.Jet.OLEDB.4.0"/>
    <add name="collection" connectionString="Data Source=MFSQL\LOANQUEST;Initial Catalog=foreclosure;User Id=theDBguy3;Password=jaimeb;" providerName="System.Data.Sql"/>
    <!--
    <add name="collection"
         connectionString="Data Source=SQL2016;Initial Catalog=foreclosure;User Id=theDBguy2;Password=jaimeb;"
         providerName="System.Data.Sql" />
    <add name="collection" connectionString="Data Source=localrmmc;Initial Catalog=foreclosure;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    <add name="foreclosure" connectionString="Data Source=localrmmc;Initial Catalog=foreclosure;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    <add name="loss_mitigation" connectionString="Data Source=localrmmc;Initial Catalog=loss_mitigation;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    -->
  </connectionStrings>
</configuration>