<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <add name="collection" connectionString="Data Source=localrmmc;Initial Catalog=foreclosure_testing;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    <add name="foreclosure" connectionString="Data Source=localrmmc;Initial Catalog=foreclosure_testing;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
    <add name="loss_mitigation" connectionString="Data Source=localrmmc;Initial Catalog=loss_mitigation;User Id=theDBguy;Password=jaimeb;" providerName="System.Data.Sql"/>
  </connectionStrings>
</configuration>